/* About Us Section */
#about-section {
    display: flex;
    justify-content: center;
    margin: 2rem;
}
/* About Us container */
.about-container {
    width: 70rem;
    margin: 6rem;
    margin-top: 2rem;
    padding: 3rem;
    background: #f1f1f1;
    border-radius: 8px;
}

.about-container p {
    padding: 1rem;
    margin: 1rem;
    background: #534f4f1a;
    border-radius: 8px;
}

.about-container h1 {
    font-size: 2rem;
}

@media screen and (max-width: 479px) {
    #about-section {
        display: flex;
        justify-content: center;
        align-items: center;  /* Centers vertically */
        flex-direction: column; 
        text-align: center;  /* Ensures text is centered */
        width: 100%;
        margin: 0 auto;  
    }

    .about-container {
        /* Ensures responsiveness */
        width: 90%;  
        /* Prevents container from stretching too much */
        max-width: 600px;
        padding: 2rem;
        background: #f1f1f1;
        border-radius: 8px;
        /* Centers container */
        margin: 2rem auto;  
        text-align: center;
    }

    .about-container p {
        padding: 1.5rem;
        /* Centers paragraphs */
        margin: 1rem auto;  
        background: #534f4f1a;
        border-radius: 8px;
        font-size: 1.1rem;
        /* Controls paragraph width for better readability*/
        max-width: 45ch;  
        font-weight: 500;
        text-align: center;
    }
}

@media screen and (max-width: 430px) {
    /* Makes container  more responsive by reducing the width */
    .about-container {
        width: 95%; 
        max-width: 500px; 
    }
}
