.our-team-section {
    width: 100%;
}

.our-team-section h1 {
    font-size: 2.4rem;
    margin: 2rem;   
    text-decoration: underline;
    text-decoration-color: var(--background-color-2);
}

.our-team-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    margin: 2rem;
    padding: 2rem;
}

.team-member {
    padding: 2rem;
    background: var(--background-color-2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team-member figure img {
    width: 10rem;
    border-radius: 50%;
}

.team-member-content h1 {
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 20px;
}

.team-member-content p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
}

/* Adjust grid for different screen sizes */
@media (min-width: 768px) {
    .our-team-container {
        grid-template-columns: repeat(2, 1fr); /* 2 items per row on tablets */
    }
}

@media (min-width: 1024px) {
    .our-team-container {
        grid-template-columns: repeat(3, 1fr); /* 3 items per row on larger screens */
    }
}
