/* Add padding to containers */
.register-container {
  padding: 2rem;
  margin: 2rem;
  background-color: white;
  width: 50rem;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

/* Full-width input fields */
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  border-radius: 8px;
  background: #f1f1f1;
}

input[type="email"]:focus, input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: var(--background-color-2);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    margin-top: 12px;
    margin-bottom: 12px;
}

@media (min-width: 767px) {
  /* Reduce the width of container */
  .register-container {
    width: 90%;
    margin-bottom: 10em;
  }
}

@media screen and (max-width: 479px) {
  /* Reduce the width of container */
  .register-container {
    width: 80%;
    margin-bottom: 10em;
  }
}