.hero-section {
    display: flex;
    flex-direction: row;
    gap: 0rem;
    padding: 6rem;
    align-items: center;
    justify-content: center;
    /* margin-top: 6rem; */
    background-color: var(--nav-color);
}

.left-hero h1 {
    font-size: 3.9rem;
    margin-bottom: 3rem;
    text-align: left;
    width: 20ch;
    letter-spacing: -0.06ch;
}

/* .left-hero .audiobooks {
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: var(--hover-color);
    text-decoration-thickness: 4px;
} */

.left-hero .gradient-span {
    background: #121FCF;
    background: linear-gradient(to right, #f1f1f1 0%, #949bf8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left-hero .cta-buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: flex-start;
}

.cta-buttons a {
    background-color: var(--hover-color);
    text-decoration: none;
    font-weight: 600;
    border-radius: 10px;
    padding: 1rem;
    color: var(--text-color);
    transition: 0.6s;
}


.cta-buttons a:hover {
    background-color: #000;
    color: var(--text-color);
    transition: 1s;
}

.hero-section .right-hero img {
    width: 30rem;
}

.featured-audiobooks {
    margin-top: 18rem;
    margin-bottom: 8rem; 
    width: max-content;
    margin-inline: auto;
}

.featured-audiobooks-container{
    width: 100rem;
    margin: 2rem;
    padding: 2rem;
}

.featured-audiobooks header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #fff;
}

.featured-audiobooks .featured-audiobooks-container .left-title h1 {
    font-size: 1.6rem;
    text-decoration-line: underline;
    margin-bottom: 10px;
    text-decoration-thickness: 3px;
    text-underline-offset: -0.1px;
    text-decoration-color: var(--hover-color);
    letter-spacing: -0.1ch;
}

.featured-audiobooks .featured-audiobooks-container .left-title p {
    width: 65ch;
    color: #aaa8a8;
    letter-spacing: -0.1ch;
}

.featured-audiobooks .featured-audiobooks-container .audiobooks-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
}

.audiobooks-items .item {
    background-color: #f1f1f1;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}

.audiobooks-items .item img {
    width: 15rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    transition: 0.6s;
    padding: 0.6rem;
} 

.audiobooks-items .item:nth-child(1) {
    background-color: #b0b3c5;
}

.audiobooks-items .item:nth-child(2) {
    background-color: #e6bd97;
}

.audiobooks-items .item:nth-child(3) {
    background-color: #8f7cfa;
}

.audiobooks-items .item img:hover {
    padding: 1.2rem;
    transition: 1s;

}

.featured-testimonals {
    background: var(--background-color-3);
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
}


.featured-testimonals .featured-container-testimonals {
    width: 100vh;
    margin: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.featured-container-testimonals .left-testimonal {
    flex: 1;
}

.featured-container-testimonals .right-testimonal {
    flex: 1;
}
.featured-container-testimonals .left-testimonal p {
    width: 65ch;
    color: gray;
    letter-spacing: -0.1ch;
    margin-top: 1.4rem;
}

.featured-container-testimonals .left-testimonal h1 {
    letter-spacing: -0.1ch;
}

.featured-news {
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
}

.news-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.featured-news .featured-news-container .news-items .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .hero-section {
        gap: 1rem;
        padding: 2rem;
        align-items: center;
    }

    
    .left-hero h1 {
        font-size: 1.4rem;
        margin-bottom: 3rem;
        text-align: left;
        width: 20ch;
    }

    .hero-section .right-hero img {
        width: 10rem;
    }
}